1 Comparing query result values with values stored as part of precondition
compareTwoDbTables(List tables, List columns)
2 Comparing query result values with values stored in some file
compareDbAndValuesFromLog(List dbData, String column, String logFile,int field, String separator)
3 Comparing query result values with other query result values (1 or more column values)
compareTwoDbTables(List tables, List columns)
4 Comparing specific column values with given value in config/excel file
5 Comparing specific column values with values given in some text file
This is a repetition of req 2. If not what is the difference
6 Comparing specific column values with values in log files generated after execution of .sh file
This is a repetition of req 2. If not what is the difference. We write a function and function does not care when file was generated
7 Verifying if a particular log file created after execution of .sh file
checkFileExists(String file)
8 Verifying a file moved from source to destination after execution of .sh file
checkFileMoved(String source, String destination)
9 Verifying number of records in 2 tables
compareDbRowCounts(List table_1, List table_2)
10 Verifying number of records in table and log file
compareCountsOfDBAndLog(List table, String logFile)
